@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

.h3 {
    padding: 0;
    margin: 0;
}

/*webkit styles*/
::-webkit-scrollbar {
    width: 7px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff2e4;
}

::-webkit-scrollbar-thumb {
    background: #d5888c;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d76870;
}

/*sizes*/
.w-23 {
    width: 23%;
}

/*colors*/
.bg-grey {
    background-color: #e3e3e3;
}

.bg-light-grey {
    background-color: #f8f8f8;
}

.bg-full-white {
    background-color: white;
}

/*marging right*/
.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.mr-6 {
    margin-right: 60px;
}

.mr-7 {
    margin-right: 70px;
}

.mr-8 {
    margin-right: 80px;
}

/*margin-left*/
.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.ml-6 {
    margin-left: 60px;
}

.ml-7 {
    margin-left: 70px;
}

.ml-8 {
    margin-left: 80px;
}

/*border-radius*/
.radius-5 {
    border-radius: 5px;
}

.radius-8 {
    border-radius: 8px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-12 {
    border-radius: 12px;
}

.radius-15 {
    border-radius: 15px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-25 {
    border-radius: 25px;
}

.radius-35 {
    border-radius: 35px;
}

.radius-50 {
    border-radius: 50px;
}

.radius-100 {
    border-radius: 100px;
}

.full-round {
    border-radius: 100%;
}

/*sizes*/
.width-24 {
    width: 24%;
    border-radius: 10px;
}

.h-100-v {
    height: 100vh;
}

/*layouts*/
.fullContainer {
    width: 100%;
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100vh;
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*utils*/
.pointer {
    cursor: pointer;
}

/*positions*/
.sticky-top-custom {
    position: sticky;
    top: 0;
}

/*special-paddings*/
.p-custom-7p{
    padding: 7px;
}

/*components*/
.custom-dropdown {
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #bdc3c7;
}

.custom-dropdown:focus {
    outline: none;
}

/*images*/
.object-fit {
    object-fit: cover;
}

.divider-img {
    width: 10%;
}

/*borders*/
.right-border {
    border-right: 1px black;
}

.dashed-border-dark {
    border: 2px dashed #494949;
}

/*text*/
.text-large {
    font-size: 30px;
}

.text-medium {
    font-size: 16px;
}

.text-small {
    font-size: 11px;
}

.text-small-extra {
    font-size: 13px;
}

.text-topic {
    font-size: 40px;
}

.text-right {
    text-align: right;
}

.font-bold {
    font-weight: bold;
}

.f-courgette {
    font-family: 'Courgette', cursive;
}

.f-Londrina {
    font-family: 'Londrina Solid', cursive;
}

.f-shippori {
    font-family: 'Shippori Antique B1', sans-serif;
}

.f-lobster {
    font-family: 'Lobster', cursive;
}

.f-indie-flower {
    font-family: 'Indie Flower', cursive;
}

.f-Staatliches {
    font-family: 'Staatliches', cursive;
}

.line-h-3 {
    line-height: 30px;
}

.word-break-all {
    word-break: break-all;
}

.text-grey {
    color: #b4b4b4;
}


/*special-animations*/
.clickable {
    transition: 0.2s;
    cursor: pointer;
}

.clickable:hover {
    transition: 0.3s;
    transform: scale(1.1, 1.1);
}

.clickable:active {
    transition: 0.3s;
    transform: scale(0.97, 0.97);
}

.clickable-mini {
    transition: 0.2s;
    cursor: pointer;
}

.clickable-mini:hover {
    transition: 0.3s;
    transform: scale(1.05, 1.05);
}

.clickable-mini:active {
    transition: 0.3s;
    transform: scale(0.97, 0.97);
}

.scalable {
    transition: 0.2s ease-in;
}

.scalable:hover {
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
}

.scalable-mini {
    transition: 0.2s ease-in;
}

.scalable-mini:hover {
    transition: 0.3s ease-out;
    transform: scale(1.05, 1.05);
}

.rotatable {
    transition: 0.2s ease-out;
}

.rotatable:hover {
    transition: 0.2s ease-in;
    transform: rotate(5deg);
}

/*footer*/
.footer-icon {
    cursor: pointer;
    color: whitesmoke;
    transition: 0.1s;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer-icon:hover {
    transition: 0.2s;
    color: #ff7693;
}

/*colors*/
.text-purple {
    color: #4B2883 !important;
}

.text-pink {
    color: #f569ff !important;
}

.text-purple-dark {
    color: #8912dd !important;
}

.text-maroon {
    color: #AE474F !important;
}


.text-black-c {
    color: #464646 !important;
}

.text-yellow {
    color: #f6e58d !important;
}

.text-green {
    color: #7bed9f !important;
}


.bg-purple {
    background-color: #b756ef;
}

.bg-purple-dark {
    background-color: #6b039f !important;
}

.bg-maroon {
    background-color: #B24850;
}

.bg-maroon-grad {
    background-image: linear-gradient(to bottom, #b44851, #a04349, #8d3d41, #7a383a, #683233) !important;
    background-attachment: fixed;
    background-size: cover;
}

.text-white {
    color: white !important;
}

.border-white {
    border: 2px solid whitesmoke;
}

.brand-name {
    display: none;
}

/*text styles*/
.letter-space-1 {
    letter-spacing: 5px;
}

.text-shadow-sm {
    text-shadow: 1px 2px 7px #525252;
}

/*btn styles*/
.btn-purple {
    background-color: #b756ef !important;
    color: white;
}

.btn-purple:hover {
    color: white;
}

.btn-maroon {
    background-color: #AE474F;
    color: white;
    transition: 0.1s;
}

.btn-maroon:hover {
    color: #ffd28f;
    background-color: #a1363f;
    transition: 0.15s;
}

.btn-maroon:active {
    transform: scale(0.95, 0.95);
    transition: 0.2s;
}

.btn-text-scale-animate {
    transition: 0.2s;
}

.btn-text-scale-animate:active {
    letter-spacing: 2px;
}

/*z-index*/
.z-index-90 {
    z-index: 90;
}

.z-index-100 {
    z-index: 100;
}

.z-index-1000 {
    z-index: 1000;
}

/*shadow styles*/
.inset-dark {
    box-shadow: inset 0 -4px 2px -5px gray;
}

@media all and (max-width: 540px) {
    .width-24 {
        width: 100%;
        margin-top: 20px;
    }

    .footer-icon {
        margin-right: 20px;
    }

    .sm-mb-2 {
        margin-bottom: 20px;
    }

    .text-sm-c-center {
        text-align: center;
    }

    .d-center-sm {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .divider-img {
        width: 50%;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .text-small {
        font-size: 12px;
    }

    .text-medium {
        font-size: 13px;
    }

    .text-large {
        font-size: 20px;
    }

    .text-mid-large {
        font-size: 18px;
    }

    .text-center-sm {
        text-align: center;
    }

    .brand-name {
        display: block;
    }

    .d-sm-flex-cust {
        display: flex;
    }

    .text-topic {
        font-size: 30px;
    }

    .d-sm-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-column-sm {
        flex-direction: column;
    }
    .mt-0-sm {
        margin-top: 0 !important;
    }
}
